USE [master]
GO
/****** Object:  Database [sinhvien]    Script Date: 05/11/2024 11:13:17 SA ******/
CREATE DATABASE [sinhvien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sinhvien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\sinhvien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'sinhvien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\sinhvien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sinhvien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sinhvien]
GO
/****** Object:  Table [dbo].[Lop]    Script Date: 05/11/2024 11:13:17 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lop](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[age] [int] NOT NULL,
	[class] [nchar](10) NULL,
	[phone] [nchar](10) NULL,
	[score] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[student]    Script Date: 05/11/2024 11:13:17 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[age] [int] NOT NULL,
	[class] [nchar](10) NULL,
	[phone] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Lop] ON 

INSERT [dbo].[Lop] ([id], [name], [age], [class], [phone], [score]) VALUES (1, N'Nguyễn Văn A', 20, N' C2305L   ', N'0986523658', 6.5)
INSERT [dbo].[Lop] ([id], [name], [age], [class], [phone], [score]) VALUES (2, N'Trịnh Thị B', 21, N'C2545K    ', N'0874523658', 7.6)
INSERT [dbo].[Lop] ([id], [name], [age], [class], [phone], [score]) VALUES (3, N'Vũ Văn C', 22, N'C5487A    ', N'0987458745', 8.7)
SET IDENTITY_INSERT [dbo].[Lop] OFF
GO
SET IDENTITY_INSERT [dbo].[student] ON 

INSERT [dbo].[student] ([id], [name], [age], [class], [phone]) VALUES (1, N'Nguyễn Văn A', 20, N' C2305L   ', N'0986523658')
INSERT [dbo].[student] ([id], [name], [age], [class], [phone]) VALUES (2, N'Trịnh Thị B', 21, N'C2545K    ', N'0874523658')
INSERT [dbo].[student] ([id], [name], [age], [class], [phone]) VALUES (3, N'Vũ Văn C', 22, N'C5487A    ', N'0987458745')
SET IDENTITY_INSERT [dbo].[student] OFF
GO
USE [master]
GO
